<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>BNCOT</title>
</head>
<body>
    <nav>

        <h4>Bindura Nickel OT</h4>

        <ul>
            <li><a href="">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            </ul>
    </nav>

    <div class="container mt4">
        <div class="jumbotron">
            <h1 class="display-4">Bindura Nickel Corporation Overtime System</h1>
            <p class="lead">To be a fully integrated, low cost, world class business, producing and selling finished nickel metal and associated by-products.</p>
            <hr class="my-4">
            <p>Developed by BNC IT with LOVE.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
       
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</body>
</html>